In [2]:
import pandas as pd

In [34]:
df = pd.read_excel("gooseberry_records_2018-10-17.xlsx",
                   usecols="A:P")

df.rename(columns={"Reason for deficit : New school?, increased enrollment ?" : "reason",
                   "Confirmation of how its was resolved": "resolution",
                  "Region": "region",
                  "teachers_guides": "rw_tgs",
                  "pupils_books": "rw_pbs",
                  "enrollment": "rw_enroll"}, inplace=True)

In [35]:
df.resolution.unique(), df.reason.unique()

(array([nan]), array([nan]))

In [24]:
df.drop(["resolution","reason"], axis = 1, inplace=True)

In [36]:
df.rw_enroll.head(20)

1                                                     -
2                                                     -
3                                    (20G, 30B) GRADE 2
4     GRADE 1.- B = 42 G = 31  GRADE 2.- B = 35 G = ...
5                                         3 ( 18G, 17B)
6                                               25G,20B
7                                            2(21B,29G)
8     GRADE 1 B 51 G 45 TOTAL 96 GR 2 B 50 G 50 TOTA...
9                                            2(18G,20B)
10                                              TEACHER
11                                              TEACHER
12                                                 (12G
13                                            1(11B,27G
14                                           1(28B 21G)
15                                 1-35B,48G,2-30B,35G
16                     1(18G,22B) 2(22G,24B) 3(25G,22B)
17                                                  82B
18                                            19B 26G)1
19                                         3-B-32 G-30.
20                                                  JAD
Name: rw_enroll, dtype: object

In [39]:
df["g1_parens"] = df.rw_enroll.str.extract("(1\s*\(.*\))", expand=True)
df["g2_parens"] = df.rw_enroll.str.extract("(2\s*\(.*\))", expand=True)
df["g3_parens"] = df.rw_enroll.str.extract("(3\s*\(.*\))", expand=True)

df[["rw_enroll","g1_parens","g2_parens","g3_parens"]]

,rw_enroll,g1_parens,g2_parens,g3_parens
1,-,NaN,NaN,NaN
2,-,NaN,NaN,NaN
3,"(20G, 30B) GRADE 2",NaN,NaN,NaN
4,GRADE 1.- B = 42 G = 31 GRADE 2.- B = 35 G = ...,NaN,NaN,NaN
5,"3 ( 18G, 17B)",NaN,NaN,"3 ( 18G, 17B)"
6,"25G,20B",NaN,NaN,NaN
7,"2(21B,29G)",NaN,"2(21B,29G)",NaN
8,GRADE 1 B 51 G 45 TOTAL 96 GR 2 B 50 G 50 TOTA...,NaN,NaN,NaN
9,"2(18G,20B)",NaN,"2(18G,20B)",NaN
10,TEACHER,NaN,NaN,NaN
11,TEACHER,NaN,NaN,NaN
12,(12G,NaN,NaN,NaN
13,"1(11B,27G",NaN,NaN,NaN
14,1(28B 21G),1(28B 21G),NaN,NaN
15,"1-35B,48G,2-30B,35G",NaN,NaN,NaN
16,"1(18G,22B) 2(22G,24B) 3(25G,22B)","1(18G,22B) 2(22G,24B) 3(25G,22B)","2(22G,24B) 3(25G,22B)","3(25G,22B)"
17,82B,NaN,NaN,NaN
18,19B 26G)1,NaN,NaN,NaN
19,3-B-32 G-30.,NaN,NaN,NaN
20,JAD,NaN,NaN,NaN
21,GRADE 2 58 B 62 G,NaN,NaN,NaN
22,"TEACHER L (55G ,51B)",NaN,NaN,NaN
23,2(70G.50B),NaN,2(70G.50B),NaN
24,"1(18B ,17G),2(20B,24G)","1(18B ,17G),2(20B,24G)","2(20B,24G)",NaN
25,"1(17B,18G)2(28B,28G)3(21B,19G)","1(17B,18G)2(28B,28G)3(21B,19G)","2(28B,28G)3(21B,19G)","3(21B,19G)"
26,"1(30G,35B)","1(30G,35B)",NaN,NaN
27,1(38B 45G),1(38B 45G),NaN,NaN
28,2[ 46B 42G],NaN,NaN,NaN
29,TEACHER,NaN,NaN,NaN
30,"1(33G 41B) 2(38G 36B) 3(25G ,35B)","1(33G 41B) 2(38G 36B) 3(25G ,35B)","2(38G 36B) 3(25G ,35B)","3(25G ,35B)"
...,...,...,...,...
2444,OROMODEI PRY SCHOOL,NaN,NaN,NaN
2445,-,NaN,NaN,NaN
2446,B =21 G=19 GRD 3,NaN,NaN,NaN
2447,-,NaN,NaN,NaN
2448,3(7G 12B),NaN,NaN,3(7G 12B)
2449,"1(7B,4G)2(9B,11G)3(7B,4G)","1(7B,4G)2(9B,11G)3(7B,4G)","2(9B,11G)3(7B,4G)","3(7B,4G)"
2450,1(9G 15B) 2(8G 9B) 3/16G 12B),1(9G 15B) 2(8G 9B) 3/16G 12B),2(8G 9B) 3/16G 12B),NaN
2451,"3( 15G , 21B",NaN,NaN,NaN
2452,"3(3G,8B)",NaN,NaN,"3(3G,8B)"
2453,"3(13G,16B)",NaN,NaN,"3(13G,16B)"
2454,"(B=14,G=19)",NaN,NaN,NaN
2455,"1( 9 G,6B)2(8G,7B)3(13G,9B)","1( 9 G,6B)2(8G,7B)3(13G,9B)","2(8G,7B)3(13G,9B)","3(13G,9B)"
2456,"3(10G,7B,",NaN,NaN,NaN
2457,CLASS TEACHER GRAND 3 BOYS 14 GIRLS 24,NaN,NaN,NaN
2458,"3(3B,11G)",NaN,NaN,"3(3B,11G)"
2459,"1(11G,24B)","1(11G,24B)",NaN,NaN
2460,-,NaN,NaN,NaN
2461,"3(16G,17B)",NaN,NaN,"3(16G,17B)"
2462,"1(9G,15B)","1(9G,15B)",NaN,NaN
2463,"GRADE1:(31G,16B) GRADE2 (20G,10B),GRADE3(34G,42B)",NaN,"2 (20G,10B),GRADE3(34G,42B)","3(34G,42B)"
2464,"21 BOYS, 24 GIRLS GRADE 3",NaN,NaN,NaN
2465,"1(10G, 5B) 2(7G, 9B) 3(6G, 7B)","1(10G, 5B) 2(7G, 9B) 3(6G, 7B)","2(7G, 9B) 3(6G, 7B)","3(6G, 7B)"
2466,"TEACHER3 (B 22 ,G 21)",NaN,NaN,"3 (B 22 ,G 21)"
2467,"GRADE 3 (14G, 12B)",NaN,NaN,"3 (14G, 12B)"
2468,1(14B 6G),1(14B 6G),NaN,NaN
2469,"3 (16G, 15B)",NaN,NaN,"3 (16G, 15B)"
2470,"(74G, 55B)",NaN,NaN,NaN
2471,"1(9B, 9G)","1(9B, 9G)",NaN,NaN
2472,GRADE 3,NaN,NaN,NaN
2473,TEACHER,NaN,NaN,NaN

In [27]:
df.enrollment

1                                                       -
2                                                       -
3                                      (20G, 30B) GRADE 2
4       GRADE 1.- B = 42 G = 31  GRADE 2.- B = 35 G = ...
5                                           3 ( 18G, 17B)
6                                                 25G,20B
7                                              2(21B,29G)
8       GRADE 1 B 51 G 45 TOTAL 96 GR 2 B 50 G 50 TOTA...
9                                              2(18G,20B)
10                                                TEACHER
11                                                TEACHER
12                                                   (12G
13                                              1(11B,27G
14                                             1(28B 21G)
15                                   1-35B,48G,2-30B,35G
16                       1(18G,22B) 2(22G,24B) 3(25G,22B)
17                                                    82B
18                                              19B 26G)1
19                                           3-B-32 G-30.
20                                                    JAD
21                                      GRADE 2 58 B 62 G
22                                   TEACHER L (55G ,51B)
23                                             2(70G.50B)
24                                 1(18B ,17G),2(20B,24G)
25                         1(17B,18G)2(28B,28G)3(21B,19G)
26                                             1(30G,35B)
27                                             1(38B 45G)
28                                            2[ 46B 42G]
29                                                TEACHER
30                     1(33G 41B) 2(38G 36B)  3(25G ,35B)
                              ...
2444                                  OROMODEI PRY SCHOOL
2445                                                    -
2446                                     B =21 G=19 GRD 3
2447                                                    -
2448                                            3(7G 12B)
2449                            1(7B,4G)2(9B,11G)3(7B,4G)
2450                        1(9G 15B) 2(8G 9B) 3/16G 12B)
2451                                         3( 15G , 21B
2452                                             3(3G,8B)
2453                                           3(13G,16B)
2454                                          (B=14,G=19)
2455                          1( 9 G,6B)2(8G,7B)3(13G,9B)
2456                                            3(10G,7B,
2457               CLASS TEACHER GRAND 3 BOYS 14 GIRLS 24
2458                                            3(3B,11G)
2459                                           1(11G,24B)
2460                                                    -
2461                                           3(16G,17B)
2462                                            1(9G,15B)
2463    GRADE1:(31G,16B) GRADE2 (20G,10B),GRADE3(34G,42B)
2464                            21 BOYS, 24 GIRLS GRADE 3
2465                       1(10G, 5B) 2(7G, 9B) 3(6G, 7B)
2466                                TEACHER3 (B 22 ,G 21)
2467                                   GRADE 3 (14G, 12B)
2468                                            1(14B 6G)
2469                                         3 (16G, 15B)
2470                                           (74G, 55B)
2471                                            1(9B, 9G)
2472                                              GRADE 3
2473                                              TEACHER
Name: enrollment, Length: 2473, dtype: object